html{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: #FAFAF9;
}
main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    height: 400px;
    width: 350px;
    background-color: #FFFFFF;
    box-shadow:  0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.Imagen{
    height: 130px;
    width: 90%;
    justify-self: center;
    border-radius: 10px;
}
.boton{
    margin-top: 20px;
    width: 70px;
    height: 30px;
    align-self: flex-start;
    color: #883AE1;
    border-style: none;
    background-color:#E6D6FC ;
    font-size: 13px;
    font-weight: bold;
    border-radius: 30px;
    margin-left: 10px;
}
.content h2{
    font-size: 20px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.content p{
    padding: 10px;
    margin-top: 0;
    color: #6C727F;
    font-size: small;
}
.content{
    width: 95%;
    border-bottom: 0.5px ridge #6C727F;
}
.name{
    margin-top: 35px;
    margin-left: 10px;
    align-self: flex-start;
    color: #6C727F;
    font-size: small;
}